.icon {
  position: absolute;
  color: var(--color-black);
  top: 3px;
  left: 0;
  transform: translateY(60%);
  margin-left: 18px;
  transition: color 100ms ease-in;
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  transition: var(--animation);
}

.close:hover,
.close:focus {
  color: var(--color-red);
}
